<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"96px","bottom":"120px","left":"clamp(20px, 4vw, 48px)","right":"clamp(20px, 4vw, 48px)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:96px;padding-right:clamp(20px, 4vw, 48px);padding-bottom:120px;padding-left:clamp(20px, 4vw, 48px)">
	<!-- wp:pattern {"slug":"prepper-site/404-content"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
