<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"prepper-site/hero"} /-->
	<!-- wp:pattern {"slug":"prepper-site/features"} /-->
	<!-- wp:pattern {"slug":"prepper-site/equipment-teaser"} /-->
	<!-- wp:pattern {"slug":"prepper-site/request-cta"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
